# Название приложения
APP_NAME=llm-p
# Название окружения, в котором работает приложение
ENV=local

# Секретный ключ для генерации и проверки токенов доступа JWT
JWT_SECRET=change_me_super_secret
# Алгоритм, который используется для генерации токенов JWT
JWT_ALG=HS256
# Время действия токена доступа (в минутах)
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Путь к файлу с базой данных SQLite
SQLITE_PATH=./app.db

# Ключ доступа к OpenRouter API
OPENROUTER_API_KEY=
# Базовый URL OpenRouter API
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
# Название модели, которая используется OpenRouter для генерации ответа
OPENROUTER_MODEL=stepfun/step-3.5-flash:free
# Публичный URL развёрнутого приложения (если есть)
OPENROUTER_SITE_URL=https://example.com
# Название приложения, которое обращается к OpenRouter API
OPENROUTER_APP_NAME=llm-fastapi-openrouter
